/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  width: calc(100vw * (700 / 1440));
  min-width: 375px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: var(--accent-color);
  font-family: var(--main-font);
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  min-height: 364px;
  margin-bottom: 100px;
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 23px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
}

.text {
  color: var(--accent-color);
  font-family: var(--font-accent);
  text-transform: uppercase;
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  padding-left: 14px;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__item {
  color: var(--accent-color);
  position: relative;
}

.theme-menu__button {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: 14px;
  background: transparent;
  border: none;
}

.theme-menu__button:focus-within {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-within::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  right: 100px;
  animation-name: menu-animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  color: var(--accent-color);
  padding: 5px 10px;
  font-size: 18px;
}

.card__content {
  position: relative;
  outline: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0 0 1px var(--main-background-color);
}

@supports (
  (
      (text-stroke: 1px var(--main-background-color)) or
        (-webkit-text-stroke: 1px var(--main-background-color))
    )
    and (mix-blend-mode: hard-light)
) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-background-color);
    mix-blend-mode: hard-light;
    text-stroke: 1px var(--themes-backgroud-color);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  padding-bottom: 22px;
}

.card__text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--font-weight-text);
}

.card__buttons {
  align-self: flex-end;
  display: flex;
  align-items: end;
  gap: 7px;
  padding-bottom: 3px;
}

.card__icon-button {
  display: flex;
  align-items: end;
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  font-family: var(--font-accent);
  font-size: 14px;
  position: relative;
  cursor: pointer;
  background-color: var(--main-background-color);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.card__like-button:hover::after {
  width: 100%;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.footer__button-save {
  width: 335px;
  height: 55px;
  border: 2px solid var(--accent-color);
  font-family: var(--font-accent);
  font-size: 14px;
  background: var(--main-background-color);
  color: var(--accent-color);
  cursor: pointer;
  position: relative;
}

.footer__button-save:focus {
  outline: none;
}

.footer__button-save:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.footer__button-save::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);

  transition: width 0.5s ease-in-out;
}

.footer__button-save:hover::after {
  width: 100%;
}

.diskette {
  width: 21px;
  height: 21px;
}

.text-button-save {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

dialog {
  width: calc(100vw * (352 / 1440));
  min-width: 341px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: var(--main-background-color);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--accent-color);
}

.dialog-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog-text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-diskette {
  width: 70px;
}

.dialog-button {
  border: 2px solid var(--accent-color);
  background: var(--main-background-color);
  color: var(--accent-color);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.image_brightness {
  filter: brightness(120%);
}

.image_contrast {
  filter: contrast(140%);
}

.image_blur {
  filter: blur(0.4rem);
}

.image_opacity {
  filter: opacity(0.7);
}

.image_grayscale {
  filter: grayscale(0.6);
}

.image_saturate {
  filter: saturate(140%);
}

.image_sepia {
  filter: sepia(70%);
}

.image_combinate {
  filter: contrast(160%) blur(0.2rem);
}

@media (width <= 375px) {
  .page {
    width: 100%;
    min-width: 375px;
  }

  .text-button-save {
    flex-direction: column;
  }

  .dialog {
    padding: 30px 40px;
  }
}
